.popup__form-close {
  background-image: url('../../../images/close.svg');
  object-fit: contain;
  background-repeat: no-repeat;
  position: absolute;
  cursor: pointer;
  width: 40px;
  height: 40px;
  top: -40px;
  right: -40px;
}

.popup__form-close:hover {
  opacity: .6;
}
